.button {
    border: none;
    background-color: white;
    
    
}
.button button {
    border: none;
    background-color: white;
    color: #F17A1A;

}

.login {
    color: #F17A1A;
    background-color: white;
    border: 1px solid #F17A1A;
}
.login:hover {
    background-color: #F17A1A;
    color: white;
}
.sign-up {
    background-color: #F17A1A;
    color: white;
}
.sign-up:hover {
    background-color: white;
    color: #F17A1A;
}
.icons {
    color: #F17A1A;

}